<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <!-- See: https://www.w3schools.com/css/css_rwd_viewport.asp-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.title }}" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} | {{ metadata.title }} {% else %}{{ metadata.title }}{% endif %}" />
    <meta property="og:description" content="{{ metadata.description }}" />
    <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}" />
    <meta property="og:site_name" content="{{ metadata.title }}" />
    <meta property="og:image" content="" />
    <link rel="canonical" href="{{ page.url | url | absoluteUrl(metadata.url) }}" />
    <link href="{{ metadata.relMe }}" rel="me" />
    <link rel="icon" href="/assets/images/cwfav.png" type="image.png" size="130x130">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" media="all">
    <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }} RSS" href="/feed/" />
{#
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism-base16-monokai.dark.css' | url }}">
#}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
{# Possible theming of css values using metadata.json file
Possible themes:
- earth (current)
- sky (blue like autopedestre)
- olden-days (grey)
#}
{% if metadata.theme == "sky" %} 
    <style>
        :root {
            --header-bg-color: #009cd7;
            --header-title-color: #fff;
            --header-title-focus-color: #B85F01;
            --header-subtitle-color: #fff;
            --header-navtext-color: #003400;
            --main-highlight-color: #009cd7;
            --main-bg-color: #ffffff;
            --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
            --footer-bg-color: #eeeeee;
            --footer-text-color: var(--header-navtext-color);
            --footer-navtext-color: var(--header-navtext-color);
            --link-color: #000000;
            --link-focus-bg-color: #ffff00;
            --date-bg-color: var(--header-bg-color);
            --date-text-color: var(--header-title-color);        
        }
    </style>
{% endif %}
{% if metadata.theme == "olden" %} 
    <style>
        :root {
            --header-bg-color: #aaa;
            --header-title-color: #000;
            --header-title-focus-color: #B85F01;
            --header-subtitle-color: #000;
            --header-navtext-color: #000;
            --main-highlight-color: #888;
            --main-bg-color: #ffffff;
            --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
            --footer-bg-color: #eeeeee;
            --footer-text-color: var(--header-navtext-color);
            --footer-navtext-color: var(--header-navtext-color);
            --link-color: #000000;
            --link-focus-bg-color: #ffff00;
            --date-bg-color: var(--header-bg-color);
            --date-text-color: var(--header-title-color);        
        }

        header img.u-photo, footer span.power img {
            filter: grayscale(75%);
        }
    </style>
{% endif %}
{#
        :root {
            --header-bg-color: {{ metadata.css.headerBgColor }}; 
            --header-title-color: {{ metadata.css.headerTitleColor }};
            --header-title-focus-color: {{ metadata.css.headerTitleFocusColor }};
            --header-subtitle-color: {{ metadata.css.headerSubtitleColor }};
            --header-navtext-color: {{ metadata.css.headerNavtextColor }};
            --main-highlight-color: {{ metadata.css.mainHighlightColor }};
            --main-bg-color: {{ metadata.css.mainBgColor }};
            --main-font-family: "{{ metadata.css.mainFontFamily }}";
            --footer-bg-color: {{ metadata.css.footerBgColor }};
            --footer-text-color: {{ metadata.css.footerTextColor }};
            --footer-navtext-color: {{ metadata.css.footerNavtextColor }};
            --link-color: {{ metadata.css.linkColor }};
            --link-focus-bg-color: {{ metadata.css.linkFocusBgColor }};
            --date-bg-color: {{ metadata.css.dateBgColor }};
            --date-text-color: {{ metadata.css.dateTextColor }};
        }
#}
  </head>
  <body>
    <a class="skip-link" href="#site-content">Skip to the content</a>
    <header class="masthead">
        <div class="header-area">
            <div class="header-title">
              <address class="h-card bio">
                <div class="p-name sitetitle">
                    <img class="u-photo" src="/assets/images/logo.jpg" alt="" />
                    <a href="{{ '/' | url }}" class="u-url">{{ metadata.title }}</a>
                </div>
                <div class="p-note subtitle">{{ metadata.description }}</div>
              </address>
            </div>
            <div class="header-nav">
                <nav>
                    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
                    {% set navPages = collections.all | menuFilter("top") | eleventyNavigation %}
                    <ul>
                    {%- for entry in navPages %}
                        <li {% if page.url.startsWith(entry.url) %} class="current"{% endif %}>
                            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main id="site-content" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }} 
    </main>
    <footer>
        <div class="footer-area">
            <span class="copy">
                &copy; {{ metadata.startYear }} - {% currentYear %} {{ metadata.title }}
                <br/>
                <span class="emojis">👍</span>  
            </span> 
            <span class="power">
            <div class="footer-nav">
                <nav>
                    <img src="/assets/images/rss-logo.png" alt=""/>&nbsp;<a class="a11y-statement" href="/feed/">RSS</a>
                    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
                    {% set navPages = collections.all | menuFilter("bottom") | eleventyNavigation %}
                    {%- for entry in navPages %}
                            | <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                    {%- endfor %}
                </nav>
            </div>
            <br/>
            Powered with HTML, CSS and <a href="https://www.a11yproject.com/">a11y</a>.
            </span>
        </div>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
